:root {
/* colors */
--orange: rgb(255, 158, 11);
--white: rgb(255, 255, 255);
--blue-lighten: rgb(11, 132, 255);
--blue: rgb(17, 107, 255);
--blue-darken: rgb(26, 109, 197);
--gray-lighten4: rgb(228, 228, 228);
--gray-lighten3: rgb(218, 225, 231);
--gray-lighten2: rgb(154, 154, 154);
--gray-lighten1: rgb(149, 149, 149);
--gray-default: rgb(110, 114, 120);
--gray-darken1: rgb(95, 95, 95);
--gray-darken2: rgb(65, 65, 65);
--gray-darken3: rgb(54, 54, 54);
--gray-darken4: rgb(15, 15, 15);
--transparent: transparent;

/* border-radius */
--br-circle: 50%;
--br-sm: 5px;
--br-md: 4px;
--br-lg: 6px;

/* font-weight */
--fw-bold: bold;
--fw-normal: normal;
--fw-unset: unset;

/* font-size  */
--h1: 32px;
--h2: 24px;
--h3: 18px;
--h4: 14px;
--p: 12px;

/* line-height */
--lh: 100%;
--lh-h1: 48px; /* 32 */
--lh-h2: 36px; /* 24 */
--lh-h3: 27px; /* 18 */
--lh-h4: 21px; /* 14 */
--lh-p: 18px; /* 12 */

/* padding  */
--p-0: 0;
--p-xm: 2px;
--p-sm: 4px;
--p-md: 8px;
--p-lg: 10px;

/* margin  */
--m-0: 0;
--m-auto: auto;
--m-sm: 4px;
--m-lg: 10px;


/* width  */
--w-i-sm: 20px;
--w-i-lg: 25px;
--w: 100%;
--w-auto: auto;
--w-sm: 229px;
--w-lg: 256px;

/* height */
--h-sm: 18px;
--h-lg: 25px;
}